<div class="sub-nav d-flex">
  <div class="container">
        <div class="d-flex align-items-center">
            <div class="redes col">
                <ol class="d-flex justify-content-start pl-0 mt-2 mb-2">
                  <li>
                    <i class="fa fa-facebook"></i>
                    facebook
                  </li>
                  <li>
                    <i class="fa fa-twitter"></i>
                    twitter
                  </li>
                  <li>
                    <i class="fa fa-linkedin"></i>
                    linkeding
                  </li>
                  <li>
                    <i class="fa fa-youtube"></i>
                    Youtube
                  </li>
                </ol>
            </div>
            <div class="telephone col d-flex justify-content-end mt-2 mb-2">
                <p class="mr-3">
                  <i class="fa fa-phone"></i> 
                  +00 (58) 456 58 78
                </p>
                <p>
                  <i class="fa fa-paypal"></i>
                  infor@domain.com
                </p>
            </div>
        </div>
  </div>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collpe collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Earn Free Bitcoin <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Bitcoin Price</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">BTC Faucet List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Bitcoin Exchanger</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Buy Bitcoin</a>
      </li>
    </ul>
    <ul class="navbar-nav">
       <li class="nav-item">
        <a class="nav-link" [routerLink]="[ '/login' ]" routerLinkActive="router-link-active">
          <i class="fa fa-user"></i>&nbsp;
          login
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="[ '/register' ]" routerLinkActive="router-link-active">
          <i class="fa fa-user-plus"></i>&nbsp;
          Register
        </a>
      </li>
    </ul>
  </div>
</nav>