.bg-light {
    background-color: #572c13 !important;
    .collpe{
    	ul{
    		li{
    			a{
    				color: #fff;
    				span{

    				}
    			}
    		}
    	}
    }
}
.sub-nav{
	.redes{
		ol{
			list-style: none;
			li:nth-child(1){
				margin-left: 0;
			}
			li{
				margin-left: 15px;
			}
		}
	}
	.telephone{
		p{
			margin-bottom: 0;
		}
	}
}