<div class="container">
    <app-header></app-header>
        <div class="header row">
            <div class="col-lg-8">
                <img src=""/>
            </div>
            <div class="col-lg-4">
                <div class="">
                    <ul>
                        <li>
                            <a [routerLink]="['https://www.facebook.com/Ingeniero005?ref=hl']">
                                New Plataforma 1
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['https://www.facebook.com/Ingeniero005?ref=hl']">
                                New Plataforma 2
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['https://www.facebook.com/Ingeniero005?ref=hl']">
                                New Plataforma 3
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="video">
                    <iframe width="350" height="230" src="https://www.youtube.com/embed/r4pRcq7PERw?controls=0" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <p>Nueva Plataforma</p>
                </div>
                <div class="col-4">
                    <p>Nueva Plataforma</p>
                </div>
                <div class="col-4">
                    <p>Nueva Plataforma</p>                
                </div>
            </div>
        </div>
    <app-footer></app-footer>
</div>