<div class="bg-home">
    <div class="bg-header pt-5">
        <div class="container">
          <div class="row">
              <div class="col-8">
                  <div class="single-post">
                      <div class="row d-md-flex align-items-center">
                          <div class="col-md-6">
                              <div class="post-thumb">
                                  <a href=""><img [src]="'assets/img/img3.jpg'" alt="post thumbnail"></a>
                              </div>
                          </div>
                          <div class="col-md-6">
                              <div class="post-content">
                                  <h2><a href="">Disrupt vero ea id fugiat income post ronic kitsch banksy.</a></h2>
                                  <p>The man credited with discovering sum roots is likely that sometime during the middle ages a typesetter scrambled part of cicero the finibus.</p>
                                  <div class="post-meta">
                                      <a href="">Read more</a>
                                      <span>22 December, 2017</span>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-4">
                  <div class="single-bit">
                      <ul>
                        <li>
                            <a [routerLink]="['https://www.facebook.com/Ingeniero005?ref=hl']">
                                <img [src]="'assets/img/BTX.png'">
                                <p class="mb-0">Cryptocurrencies y más próximos!</p> 
                                <span class="badge badge-success">
                                    <span id="rate_BTX">0.00007200 BTX/BTC</span>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['https://www.facebook.com/Ingeniero005?ref=hl']">
                                <img [src]="'assets/img/freebitcoin.png'">
                                <p class="mb-0">¡Reclama todas las monedas a la vez!</p>
                                <span class="badge badge-success">
                                    <span id="rate_BTC">1.00000000 BTC/BTC</span>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['https://www.facebook.com/Ingeniero005?ref=hl']">
                                <img [src]="'assets/img/freedogecoin.png'">
                                <p class="mb-0">¡Muchas formas de ganar dinero!</p>
                                <span class="badge badge-success">
                                    <span id="rate_DOGE">0.00000052 DOGE/BTC</span>
                                </span>
                            </a>
                        </li>
                      </ul>
                  </div>
                  <div class="video">
                      <iframe width="560" height="315" style="width: 100%;
                      max-height: 210px;
                      position: absolute;" src="https://www.youtube.com/embed/pwz1v4vSr1Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
              </div>
          </div>
        </div>
    </div>
    <div class="bg-coin">
      <div class="container">
          <div class="block-wallet">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-3">
                        <div class="logo"><img [src]="'assets/img/logo-btc.png'" class="mx-auto d-block"></div>
                        <div class="name">BTC</div>
                      </div>
                      <div class="col-3">
                        <div class="logo"><img [src]="'assets/img/logo-eth.png'" class="mx-auto d-block"></div>
                        <div class="name">ETH</div>
                      </div>
                      <div class="col-3">
                        <div class="logo"><img [src]="'assets/img/logo-ltc.png'" class="mx-auto d-block"></div>
                        <div class="name">LTC</div>
                      </div>
                      <div class="col-3">
                        <div class="logo"><img [src]="'assets/img/logo-bch.png'" class="mx-auto d-block"></div>
                        <div class="name">BCH</div>
                      </div>
                      <div class="col-3">
                        <div class="logo"><img [src]="'assets/img/logo-xrp.png'" class="mx-auto d-block"></div>
                        <div class="name">XRP</div>
                      </div>
                      <div class="col-3">
                        <div class="logo"><img [src]="'assets/img/logo-dash.png'" class="mx-auto d-block"></div>
                        <div class="name">DASH</div>
                      </div>
                      <div class="col-3">
                        <div class="logo"><img [src]="'assets/img/logo-etc.png'" class="mx-auto d-block"></div>
                        <div class="name">ETC</div>
                      </div>
                      <div class="col-3">
                        <div class="logo"><img [src]="'assets/img/logo-xmr.png'" class="mx-auto d-block"></div>
                        <div class="name">XMR</div>
                      </div>
                </div>
            </div>
          </div>
      </div>
    </div>
    <div class="bg-blog pt-5 pb-5">
      <div class="container">
          <div class="row">
              <div class="col-sm-12 col-md-6 col-lg-6  py-0 pl-3 pr-1 featcard">
                 <div id="featured" class="carousel slide carousel-fade" data-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <div class="card bg-dark text-white">
                          <img class="card-img img-fluid" [src]="'assets/img/call-to-action.jpg'" alt="" style="min-height: 306px;">
                          <div class="card-img-overlay d-flex linkfeat">
                            <a href="" class="align-self-end">
                              <span class="badge text-light">Ekspor</span> 
                              <h4 class="card-title text-light">Review GSP: Amerika Ingin Perdagangan Saling Menguntungkan</h4>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
              <div class="col-6 py-0 px-1 d-none d-lg-block">
                  <div class="row">
                      <div class="col-6 pb-2 mg-1	">
                          <div class="card bg-dark text-white">
                          <img class="card-img img-fluid" [src]="'assets/img/bitcoindinero.jpg'" alt="" style="max-height: 149px;">
                            <div class="card-img-overlay d-flex">
                              <a href="http://makro.id/bi-atur-standarisasi-qr-code" class="align-self-end">
                                <span class="badge text-light">Finansial</span> 
                                <h6 class="card-title text-light">BI Atur Standarisasi QR Code</h6>
                              </a>
                            </div>
                          </div>
                      </div>
                      <div class="col-6 pb-2 mg-2	">
                          <div class="card bg-dark text-white">
                            <img class="card-img img-fluid" [src]="'assets/img/normal.jpg'" alt="" style="max-height: 149px;">
                            <div class="card-img-overlay d-flex">
                              <a href="http://makro.id/ptsp-bp-batam-masuk-10-terbaik-di-indonesia" class="align-self-end">
                                <span class="badge text-light">Industri</span> 
                                <h6 class="card-title text-light">PTSP BP Batam Masuk 10 Terbaik di Indonesia</h6>
                              </a>
                            </div>
                          </div>
                      </div>
                      <div class="col-6 pb-2 mg-3	">
                          <div class="card bg-dark text-white">
                            <img class="card-img img-fluid" [src]="'assets/img/monedabtc.jpg'" alt="" style="max-height: 149px;">
                            <div class="card-img-overlay d-flex">
                              <a href="http://makro.id/review-gsp-amerika-ingin-perdagangan-saling-menguntungkan" class="align-self-end">
                                <span class="badge text-light">Ekspor</span> 
                                <h6 class="card-title text-light">Review GSP: Amerika Ingin Perdagangan Saling Menguntungkan</h6>
                              </a>
                            </div>
                          </div>
                      </div>
                      <div class="col-6 pb-2 mg-4	">
                          <div class="card bg-dark text-white">
                            <img class="card-img img-fluid" [src]="'assets/img/img3.jpg'" alt="" style="max-height: 149px;">
                            <div class="card-img-overlay d-flex">
                              <a href="http://makro.id/dpr-setujui-penambahan-anggaran-bp-batam-rp565-miliar" class="align-self-end">
                                <span class="badge text-light">Pertumbuhan Ekonomi</span> 
                                <h6 class="card-title text-light">DPR Setujui Penambahan Anggaran BP Batam Rp565 Miliar</h6>
                              </a>
                            </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
    <div class="bg-faq">
        <div class="header-fag container">
          <div class="col d-flex">
            <div class="col center-faq text-light">
              <span>METUS AUGUE PORTTITOR SED</span>
              <p class="fs-12">¡LECTU VITAE RUTRUMAUCTOR LECTUS PELLENTESQUE ID PULVINAR VELIT AT PORTA LEO!</p>
            </div>
            <div class="col-4 inform text-light">
              <p>
                MORE INFORMATION
                <i class="fa fa-arrow"></i>
              </p>
            </div>
          </div>
        </div>
    </div>
    <!-- Start of adf.ly banner code -->
    <div class="acord">
      <a href="https://join-adf.ly/12391375">
        <img border="0" src="https://cdn.adf.ly/images/banners/adfly.160x600.4.gif" width="160" height="600" title="AdF.ly - acorta links y gana dinero!" />
      </a>
    </div>
    <!-- End of adf.ly banner code -->
</div>