<div class="container">
    <div class="header row pt-5">
        <div class="col-8">
            <div class="single-post">
                <div class="row d-md-flex align-items-center">
                    <div class="col-md-6">
                        <div class="post-thumb">
                            <a href="blog-details.html"><img [src]="'assets/img/img3.jpg'" alt="post thumbnail"></a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="post-content">
                            <h2 class="post-title"><a href="blog-details.html">Disrupt vero ea id fugiat income post ronic kitsch banksy.</a></h2>
                            <p>The man credited with discovering sum roots is likely that sometime during the middle ages a typesetter scrambled part of cicero the finibus.</p>
                            <div class="post-meta">
                                <a href="blog-details.html">Read more</a>
                                <span>22 December, 2017</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="">
                <ul>
                    <li>
                        <a [routerLink]="['https://www.facebook.com/Ingeniero005?ref=hl']">
                            <p class="mb-0">Soporte 12+ cryptocurrencies y más próximos!</p> 
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['https://www.facebook.com/Ingeniero005?ref=hl']">
                            <p class="mb-0">¡Reclama todas las monedas a la vez! </p>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['https://www.facebook.com/Ingeniero005?ref=hl']">
                            <p class="mb-0">¡Muchas formas de ganar dinero! </p>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['https://www.facebook.com/Ingeniero005?ref=hl']">
                            <p class="mb-0">¡Niveles, bonos, recompensas de rango diario y mucho más! </p>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="video">
                <iframe width="350" height="230" src="https://www.youtube.com/embed/r4pRcq7PERw?controls=0" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="block-wallet">
          <div class="container-fluid">
              <div class="row">
                  <div class="col-3">
                      <div class="logo"><img [src]="'assets/img/logo-btc.png'" class="mx-auto d-block"></div>
                      <div class="name">BTC</div>
                    </div>
                    <div class="col-3">
                      <div class="logo"><img [src]="'assets/img/logo-eth.png'" class="mx-auto d-block"></div>
                      <div class="name">ETH</div>
                    </div>
                    <div class="col-3">
                      <div class="logo"><img [src]="'assets/img/logo-ltc.png'" class="mx-auto d-block"></div>
                      <div class="name">LTC</div>
                    </div>
                    <div class="col-3">
                      <div class="logo"><img [src]="'assets/img/logo-bch.png'" class="mx-auto d-block"></div>
                      <div class="name">BCH</div>
                    </div>
                    <div class="col-3">
                      <div class="logo"><img [src]="'assets/img/logo-xrp.png'" class="mx-auto d-block"></div>
                      <div class="name">XRP</div>
                    </div>
                    <div class="col-3">
                      <div class="logo"><img [src]="'assets/img/logo-dash.png'" class="mx-auto d-block"></div>
                      <div class="name">DASH</div>
                    </div>
                    <div class="col-3">
                      <div class="logo"><img [src]="'assets/img/logo-etc.png'" class="mx-auto d-block"></div>
                      <div class="name">ETC</div>
                    </div>
                    <div class="col-3">
                      <div class="logo"><img [src]="'assets/img/logo-xmr.png'" class="mx-auto d-block"></div>
                      <div class="name">XMR</div>
                    </div>
              </div>
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6  py-0 pl-3 pr-1 featcard">
           <div id="featured" class="carousel slide carousel-fade" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="card bg-dark text-white">
                    <img class="card-img img-fluid" [src]="'assets/img/image-1.jpg'" alt="">
                    <div class="card-img-overlay d-flex linkfeat">
                      <a href="" class="align-self-end">
                        <span class="badge">Ekspor</span> 
                        <h4 class="card-title">Review GSP: Amerika Ingin Perdagangan Saling Menguntungkan</h4>
                        <p class="textfeat" style="display: none;">
                          makro.id – Duta Besar Amerika Serikat untuk Indonesia Joseph R. Donovan menegaskan, langkah pemerintah Amerika Serikat meninjau ulang pemberian Generalized System od Preferenes (GSP) akan menguntungkan kedua belah pihak.
    Menurut Donovan,</p>
                      </a>
                    </div>
                  </div>
                  </div>
              <div class="carousel-item">			  <div class="card bg-dark text-white">
                    <img class="card-img img-fluid" [src]="'assets/img/btc-gratis.jpeg'" alt="">
                    <div class="card-img-overlay d-flex linkfeat">
                      <a href="miliar" class="align-self-end">
                        <span class="badge">Pertumbuhan Ekonomi</span> 
                        <h4 class="card-title">DPR Setujui Penambahan Anggaran BP Batam Rp565 Miliar</h4>
                        <p class="textfeat" style="display: none;">makro.id - Dewan Perwakilan Rakyat (DPR) menyetujui penambahan anggaran Badan Pengusahaan (BP) Batam Rp565 miliar. Dengan penambahan anggaran di tahun 2019 tersebut diharapkan dapat mendorong percepatan pembangunan Kota Batam.
    
    Anggota Komisi</p>
                      </a>
                    </div>
                  </div>
                  </div>
              <div class="carousel-item">			  <div class="card bg-dark text-white">
                    <img class="card-img img-fluid" [src]="'assets/img/normal.jpg'" alt="">
                    <div class="card-img-overlay d-flex linkfeat">
                      <a href="" class="align-self-end">
                        <span class="badge">Perbankan</span> 
                        <h4 class="card-title">BTN Targetkan Seribu Nasabah Valas di Batam</h4>
                        <p class="textfeat" style="display: none;">makro.id - Bank Tabungan Negara (Persero) resmi merilis tabungan valuta asing (valas) di Batam. Sebagai daerah yang berbatasan langsung dengan Singapura dan sebagai pintu gerbang wisatawan mancanegara (wisman), transaksi valas</p>
                      </a>
                    </div>
                  </div>
                  </div>
              <div class="carousel-item">			  <div class="card bg-dark text-white">
                    <img class="card-img img-fluid" [src]="'assets/img/monedabtc.jpg'" alt="">
                    <div class="card-img-overlay d-flex linkfeat">
                      <a href="" class="align-self-end">
                        <span class="badge">Industri</span> 
                        <h4 class="card-title">Sistem OSS Resmi Diluncurkan</h4>
                        <p class="textfeat" style="display: none;">makro.id - Menteri Koordinator Bidang Perekonomian Darmin Nasution bersama dengan para menteri dan kepala lembaga terkait meresmikan penerapan Sistem Online Single Submission (OSS). 
    
    Layanan Perizinan Berusaha Terintegrasi Secara Elektronik (PBTSE), yang</p>
                      </a>
                    </div>
                  </div>
                  </div>
              <div class="carousel-item">			  <div class="card bg-dark text-white">
                    <img class="card-img img-fluid" [src]="'assets/img/monedabtc.jpg'" alt="">
                    <div class="card-img-overlay d-flex linkfeat">
                      <a href="" class="align-self-end">
                        <span class="badge">Nusantara</span> 
                        <h4 class="card-title">Grab Gandeng Samsung, Telkomsel, dan Erafone</h4>
                        <p class="textfeat" style="display: none;">:: Luncurkan Program Ponsel Cerdas untuk Pengemudi
    
    Batam - Grab menjalin kemitraan strategis dengan tiga perusahaan terkemuka di Indonesia yaitu Telkomsel, Samsung, dan Erafone terkait program kepemilikan ponsel cerdas khusus untuk</p>
                      </a>
                    </div>
                  </div>
                  </div>
              <div class="carousel-item">			  <div class="card bg-dark text-white">
                    <img class="card-img img-fluid" [src]="'assets/img/normal.jpg'" alt="">
                    <div class="card-img-overlay d-flex linkfeat">
                      <a href="" class="align-self-end">
                        <span class="badge">Finansial</span> 
                        <h4 class="card-title">Paket Kebijakan Ekonomi Mempermudah Izin Investasi</h4>
                        <p class="textfeat" style="display: none;">makro.id– Paket kebijakan ekonomi dinilai dapat memberikan kemudahan dalam pengurusan perizinan berinvestasi dan memberikan efek yang cukup signifikan kepada investor.
    
    Ketua Umum Himpunan Kawasan Industri (HKI) Sanny Iskandar menyatakan saat ini</p>
                      </a>
                    </div>
                  </div>
                  </div>
                        </div>
          </div>
        </div>
        <div class="col-6 py-0 px-1 d-none d-lg-block">
            <div class="row">
                <div class="col-6 pb-2 mg-1	">
                    <div class="card bg-dark text-white">
                    <img class="card-img img-fluid" src="http://admin.makro.id/media/post_img_sm/bi-atur-standarisasi-qr-code-1529952479.jpg" alt="">
                    <div class="card-img-overlay d-flex">
                      <a href="http://makro.id/bi-atur-standarisasi-qr-code" class="align-self-end">
                        <span class="badge">Finansial</span> 
                        <h6 class="card-title">BI Atur Standarisasi QR Code</h6>
                      </a>
                    </div>
                      </div>
                </div>
                            <div class="col-6 pb-2 mg-2	">
                    <div class="card bg-dark text-white">
                    <img class="card-img img-fluid" src="http://admin.makro.id/media/post_img_sm/ptsp-bp-batam-masuk-10-terbaik-di-indonesia-1531400445.jpeg" alt="">
                    <div class="card-img-overlay d-flex">
                      <a href="http://makro.id/ptsp-bp-batam-masuk-10-terbaik-di-indonesia" class="align-self-end">
                        <span class="badge">Industri</span> 
                        <h6 class="card-title">PTSP BP Batam Masuk 10 Terbaik di Indonesia</h6>
                      </a>
                    </div>
                      </div>
                </div>
                            <div class="col-6 pb-2 mg-3	">
                    <div class="card bg-dark text-white">
                    <img class="card-img img-fluid" src="http://admin.makro.id/media/post_img_sm/review-gsp-amerika-ingin-perdagangan-yang-adil-dan-saling-menguntungkan-1531307731.jpg" alt="">
                    <div class="card-img-overlay d-flex">
                      <a href="http://makro.id/review-gsp-amerika-ingin-perdagangan-saling-menguntungkan" class="align-self-end">
                        <span class="badge">Ekspor</span> 
                        <h6 class="card-title">Review GSP: Amerika Ingin Perdagangan Saling Menguntungkan</h6>
                      </a>
                    </div>
                      </div>
                </div>
                            <div class="col-6 pb-2 mg-4	">
                    <div class="card bg-dark text-white">
                    <img class="card-img img-fluid" src="http://admin.makro.id/media/post_img_sm/dpr-setujui-penambahan-anggaran-bp-batam-rp565-miliar-1531258457.jpeg" alt="">
                    <div class="card-img-overlay d-flex">
                      <a href="http://makro.id/dpr-setujui-penambahan-anggaran-bp-batam-rp565-miliar" class="align-self-end">
                        <span class="badge">Pertumbuhan Ekonomi</span> 
                        <h6 class="card-title">DPR Setujui Penambahan Anggaran BP Batam Rp565 Miliar</h6>
                      </a>
                    </div>
                      </div>
                </div>
                        </div>
        </div>
    </div>
</div>