
<div class="register">
    <div class="container">
        <div class="register-form row">
            <div class="main-div">
                <div class="panel text-center">
                    <h2 class="fs-18">Admin Register</h2>
                    <p class="fs-14">Please enter your email and password</p>
                </div>
                    <form id="register">
                        <div class="form-group">
                            <input type="firtName" class="form-control" id="inputName" placeholder="firName">
                        </div>
                        <div class="form-group">
                            <input type="lastName" class="form-control" id="inputlast" placeholder="lastName">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" id="inputEmail" placeholder="Email Address">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                        </div>
                       
                        <button type="submit" class="btn btn-primary w-50">Register</button>
                        <button type="submit" class="btn w-50">Cancel</button>
                    </form>
                    <p class="botto-text"> Designed by Sunil Rajput</p>
            </div>
        </div>
    </div>
</div>